{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",                 // https://www.npmjs.com/package/eslint-plugin-prettier
  ],
  "env": {                      // http://eslint.org/docs/user-guide/configuring.html#specifying-environments
    "browser": true,            // browser global variables
    "node": true,               // node global variables
    "es6": true,                // es6 variables
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "airbnb-base",                   // https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
    "prettier",                 // https://github.com/prettier/eslint-config-prettier
  ],

  "globals": {
    "__PROD__": true
  },
  "rules": {
    "consistent-return": "off",
    "no-return-assign": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
  }
}
