//
// Inputs
//

.form-control {
  display: block;
  width: 100%;
  padding: $spacer * 0.375 $spacer * 0.75;
  font-size: $font-size;
  line-height: $line-height;
  color: $grey-200;
  background-color: $white;
  background-clip: padding-box;
  border: $border-width solid $grey-500;
  border-radius: $border-radius;

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }
}
