//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: ($spacer / 2);
  font-family: inherit;
  color: inherit;
  font-weight: bold;
}

//
// Links
//

a {
  color: $link-color;
  text-decoration: none;
  // Remove the gray background on active links in IE 10
  background-color: transparent;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

  p & {
    // Anchors inside paragraph should always be underlined
    text-decoration: underline;
  }
}

//
// Paragraphs
//

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

//
// Emphasis
//

small,
.small {
  font-size: 80%;
  font-weight: normal;
}

//
// Lists
//

.list-unstyled,
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $spacer * 0.5;
  }
}
