//
// Backgrounds
//

.bg-white {
  background-color: $white !important;
}
.bg-brand-100 {
  background: $brand-100 !important;
}
.bg-brand-200 {
  background: $brand-200 !important;
}
.bg-brand-300 {
  background: $brand-300 !important;
}
.bg-brand-400 {
  background: $brand-400 !important;
}
.bg-brand-500 {
  background: $brand-500 !important;
}

//
// Text color
//

.t-red {
  color: $red !important;
}
.t-white {
  color: $white !important;
}
.t-black {
  color: $black !important;
}
.t-brand-100 {
  color: $brand-100 !important;
}
.t-brand-200 {
  color: $brand-200 !important;
}
.t-brand-300 {
  color: $brand-300 !important;
}
.t-brand-400 {
  color: $brand-400 !important;
}
.t-brand-500 {
  color: $brand-500 !important;
}
